{% extends 'layout.html' %}
{% block content %}
    <form class="form-horizontal" action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form_obj %}
            <div class="form-group {% if  field.errors %}has-error{% endif %}">

                <label {% if not field.field.required %}style="color: #777777"{% endif %}for="{{ field.id_for_label }}"
                       class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-6">
                    {{ field }}
                    <span class="help-block">{{ field.errors.0 }}</span>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{ button }}</button>
            </div>
        </div>
    </form>

{% endblock %}